body {
  background-image: url(../assets/images/OAK42N0.jpg);
  background-position: center;
  background-size: cover;
}

.barra {
  background-color: rgb(104, 107, 106) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.navbar-brand {
  background-image: url(../assets/images/logo-1436315284-1675872426-73920926578b12623c924f452f0c7dc61675872426-320-0.png);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 55px;
  text-align: center;
}

#collapsibleNavbar {
  justify-content: flex-end;
}

.banner {
  background-image: url(../assets/images/1-slide-1673532836428-7014091583-a9eb9e3c65462a5f9cb0bd179cdca72c1673532848-1920-1920.webp);
  background-size: cover;
  background-position: center;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000, 0 0 5px #000, inset 0 0 5px #000;
}

.izq {
  background-color: rgb(104, 107, 106);
  background-image: url(../assets/images/manuel-cosentino-M3fhZSBFoFQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  border-radius: 10px;
}

.izqN {
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}
.izqN h1 {
  text-align: center;
  font-size: 50px;
  color: #2c3e50;
}
.izqN h2 {
  text-align: center;
  font-size: 50px;
  color: #2c3e50;
}
.izqN p {
  padding: 20px;
  font-size: 20px;
  color: #2c3e50;
  text-align: center;
  padding-top: 50px;
}
.izqN .nosotrasNegrita {
  font-weight: bold;
}
.izqN .nosotrasCursiva {
  font-weight: bold;
  font-style: italic;
}

.der {
  font-family: "Montserrat", sans-serif;
}

.derN {
  background-color: rgb(104, 107, 106);
  background-image: url(../assets/images/IMG-20230302-WA0043.jpg);
  border-radius: 5px;
  background-position: center;
  width: 500px;
  height: 700px;
}

.giftCardTexto h1 {
  text-align: center;
  padding-top: 40px;
  color: #2c3e50;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}
.giftCardTexto p {
  padding-top: 20px;
  color: #2c3e50;
  text-align: center;
  font-size: 20px;
}
.giftCardTexto ol {
  text-align: center;
}
.giftCardTexto h2 {
  text-align: center;
  color: #2c3e50;
  font-size: 17px;
  padding-top: 20px;
}
.giftCardTexto ol li {
  list-style-type: disc;
}
.giftCardTexto .giftCardLista {
  padding-top: 10px;
}
.giftCardTexto li {
  list-style-type: armenian;
  color: #2c3e50;
}

.logoFooter {
  background-color: #fcd4e0;
  border-radius: 3px;
  height: 80px;
}

footer {
  margin-top: 10px;
  box-shadow: 0 0 5px #000000, 0 0 5px #000, inset 0 0 5px #000;
}

form {
  padding-left: 20px;
  padding-right: 20px;
  color: #2c3e50;
  font-weight: bold;
}
form h1 {
  text-align: center;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #2c3e50;
}

.home_izq {
  background-color: rgb(104, 107, 106);
  background-image: url(../assets/images/cosnt.jpeg);
  background-size: cover;
  background-position: center;
  height: 800px;
  border-radius: 5px;
}

.home_der {
  padding-top: 300px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
  font-style: italic;
}
.home_der p {
  font-size: 30px;
}
.home_der h2 {
  font-size: 60px;
}

.cards {
  font-family: "acme", "Montserrat";
}

.card {
  border-radius: 5px;
  border: 2px solid #2c3e50 !important;
}

.separador {
  background-image: url(../assets/images/1-slide-1676998771619-4481461242-330d1c7c76edefb8544de0ca1ab0b1c31676998776-1920-1920.webp);
  background-size: cover;
  background-position: center;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000, 0 0 5px #000, inset 0 0 5px #000;
}

.pulsera {
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
}
.pulsera h1 {
  font-size: 50px;
  font-weight: bold;
}
.pulsera h2 {
  font-size: 50px;
  font-weight: bold;
}
.pulsera p {
  font-size: 15px;
  text-align: justify;
}

.anillo {
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
  box-shadow: 0 0 5px #000000, 0 0 5px #000, inset 0 0 5px #000;
}
.anillo h2 {
  font-size: 50px;
  font-weight: bold;
}
.anillo p {
  font-size: 15px;
  text-align: justify;
}

.collar {
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
}
.collar h2 {
  font-size: 50px;
  font-weight: bold;
}
.collar p {
  font-size: 15px;
  text-align: justify;
}

.showroom {
  text-align: center;
  padding-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  color: #2c3e50;
}
.showroom h1 {
  font-size: 70px;
  font-family: "acme", "Montserrat";
}

.galeria {
  padding-left: 20px;
  padding-right: 20px;
}

.img1, .img3, .img2 {
  filter: grayscale(100%);
  padding-left: 10px;
}

.img1:hover, .img3:hover, .img2:hover {
  transform: scale(1.05);
  transition: all 0.9s;
  filter: grayscale(0%);
}

/*# sourceMappingURL=style.css.map */
