.barra{
    background-color: rgb(104, 107, 106) !important;
    font-family: 'Montserrat', sans-serif;
    
} 





.jumbotron{
    background-image: url(./assets/images/1-slide-1673532836428-7014091583-a9eb9e3c65462a5f9cb0bd179cdca72c1673532848-1920-1920.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 0;
}





.izq{
    background-color: rgb(104, 107, 106);
    background-image: url(./assets/images/manuel-cosentino-M3fhZSBFoFQ-unsplash.jpg);
    background-size: cover ;
    background-position: center;
    height: 800px;
    border-radius: 10px;
}



.izqN{
    padding-top: 200px;

}

.der{
    font-family: 'Montserrat', sans-serif;;
}


.derN{
    background-color: rgb(104, 107, 106);
    background-image: url(./assets/images/IMG-20230302-WA0043.jpg);
    background-size: cover ;
    background-position: center;
    height: 800px;
    border-radius: 5px;
}




.nosotrasQuienes{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    height: 400px;
    padding-top: 50px;
}

.nosotrasQuienes h1{
    text-align: center;
    font-size: 40px;
    color: #fcd4e0;
}

.nosotrasQuienes p{
    padding: 20px;
    font-size: 15px;
    color: #2c3e50;
    text-align: center;
    padding-top: 50px;
}

.nosotrasNegrita{
    font-weight: bold;

}

.nosotrasCursiva{
    font-weight: bold;
    font-style: italic;
}



.giftCardTexto h1{
    text-align: center;
    padding-top: 40px;
    color: #2c3e50;
    font-size: 40px;
    font-family:'Montserrat', sans-serif ;

}

.giftCardTexto p{
    padding-top: 20px;;
    color: #2c3e50;
    text-align: center;
    font-size: 15px;

}

.giftCardTexto ol{
    text-align: center;
    
}
.giftCardTexto h2{
    text-align: center;
    color: #2c3e50;
    font-size: 17px;
    padding-top: 20px;
}
.giftCardTexto ol li{
    list-style-type:disc;
}
.giftCardLista{
    padding-top: 10px
}



.giftCardLista li{
    list-style-type: armenian;
    color: #2c3e50;
}







.logoFooter{
background-color:#fcd4e0;
border-radius: 3px;
height: 80px;


}

footer{
    margin-top: 10px;
}