.barra{
    background-color: rgb(104, 107, 106) !important;
} 

.jumbotron{
    background-image: url(./assets/images/1-slide-1673532836428-7014091583-a9eb9e3c65462a5f9cb0bd179cdca72c1673532848-1920-1920.webp);
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 0;

}

.izq{
    background-color: rgb(104, 107, 106);
    background-image: url(./assets/images/IMG-20230302-WA0043.jpg);
    background-size: cover ;
    background-position: center;
    height: 300px;
}

.derN{
    background-color: rgb(104, 107, 106);
    background-image: url(./assets/images/IMG-20230302-WA0043.jpg);
    background-size: cover ;
    background-position: center;
    height: 300px;
}

.der{
    height: 300px;
}

.derN{
    height: 300px;
}

.nosotrasQuienes{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    height: 400px;
    padding-top: 50px;
}

.nosotrasQuienes h1{
    text-align: center;
    font-size: 40px;
    color: #fcd4e0;
}

.nosotrasQuienes p{
    padding: 20px;
    font-size: 15px;
    color: #2c3e50;
    text-align: center;
    padding-top: 50px;
}

.nosotrasNegrita{
    font-weight: bold;

}

.nosotrasCursiva{
    font-weight: bold;
    font-style: italic;
}

.logoFooter{
background-color:#fcd4e0;
border-radius: 3px;


}